


@import "pages/home.css";
@import "pages/projects.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

:root {
    --bgcolor: #151515;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: var(--bgcolor);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    outline-style: none;
    border: none;
}

li {
    
}




/*HEADER**************************/
.navbar {
    background-color: rgb(35, 35, 35) !important;
    z-index: 9999 !important;
}

.container-fluid {
    width: 80% !important;
    height: 6vh !important;
    text-align: center !important;
    font-size: 0.90rem;
}

.navbar a {
    color: #cecece !important;
    font-family: 'Poppins', sans-serif !important;
    margin-left: 40px;
    transition: 0.1s all;
}

.navbar a:hover {
    border-bottom: 3px solid #f82d4f;
    color: white;
}

.crystal-content {
    width: 100%;
    height: 0.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}

/***************REDES SOCIAIS********************/


.social-media-container {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 70px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 3px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Poppins', sans-serif !important;
    z-index: 9999;
}

.shape-background {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 70px;
    height: 100vh;
}

.social-media-content {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.social-media-spans {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cecece;
    font-size: 1rem;
    cursor: pointer;
}

.social-media-spans i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    transform: scale(1.5);
    transition: 0.2s all;
}

.social-media-spans i:hover {
    color: #f82d4f ;
    background-color: #000000;
}
